<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- HEADER -->
    <div th:insert="common/header.html" id="header"></div>

    <form  action="/post" method="post" class="navbar-form navbar-left" role="search">
        <div class="ui form">
            <div class="field">
                <div class="two fields">
                    <div class="field">
                        <label>
                            <input type="text" name="title" placeholder="제목">
                        </label>
                    </div>
                    <div class="field">
                        <label>
                            <input type="text" name="writer" placeholder="작성자">
                        </label>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>
                    <textarea name="content" class="ui input" placeholder="내용"></textarea>
                </label>
                <input type="submit" value="등록" class="ui right floated secondary button" style="margin: 10px;">
            </div>
        </div>
    </form>

    <!-- FOOTER -->
    <div th:insert="common/footer.html" id="footer"></div>
</body>
</html>